@model WebEscuelaMVC.Models.Aula


    <h1>Registrar Medico</h1>
    @using (Html.BeginForm("Edit", "Aula", FormMethod.Post))
    {


            <p>
            @Html.LabelFor(model => model.Numero)
            @Html.TextBoxFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
            </p>

            <p>
            @Html.LabelFor(model => model.EstadoDelTipoCadena)
            @Html.TextBoxFor(model => model.EstadoDelTipoCadena)
            @Html.ValidationMessageFor(model => model.EstadoDelTipoCadena)
            </p>

          

            <input type="submit" action="Edit" />
        @Html.ActionLink("Ver medicos creados", "Index", "Edit")

    }
